@page "/"
@inherits AppComponentBase

<div style="background-color: rgb(128, 128, 128, .4); color: white" class="d-flex p-3 pb-0 mb-3 rounded">
    <h2 class="m-auto w-10 text-center p-3">
        👋
    </h2>
    <p>
        <Markdown ContentName="MarkdownContent.HomePage"/>
    </p>
</div>

<div class="text-white my-3 py-3 rounded">
    <div >
        <h2>Blogs</h2>
        <div class="d-flex">
            <BlogsGridBox Name="Maui vs Flutter"
                          Description=""
                          Date="@(DateOnly.FromDateTime(DateTime.Now))"
                          Url="@(BlogUrlBase + "maui-vs-flutter")"/>
            <BlogsGridBox Name="The ultimate MAUI Blazor template"
                          Description=""
                          Date="@(DateOnly.FromDateTime(DateTime.Now))"
                          Url="@(BlogUrlBase + "maui-blazor-template")"/>
        </div>
    </div>
</div>

@if (Projects.Any())
{
    <div class="text-white my-3 py-3 rounded ">
        <div >
            <h2>Projects</h2>
            <div class="d-flex flex-column flex-lg-row align-items-center">
                @foreach (var project in Projects)
                {
                    <ProjectsGridBox Name="@project.Name"
                                     Description="@project.Description"
                                     Url="@project.Url"
                                     TechTags="@(project.TechTags.Take(3).ToList())"
                                     Stars="@project.Stars"/>
                }
            </div>
        </div>
    </div>
}