<a class="blog-link rounded m-2" target="@(NewTab ? "_blank" : null)" href="@(string.IsNullOrEmpty(Url) ? "#" : Url)">
    <div class="rounded p-3">
        <div class="d-inline-flex justify-content-between w-100">
            <h2 class="text-break">@Name</h2>
            <MudIcon Icon="@Icon" Class="m-2"/>
        </div>
        @ChildContent
        <p class="text-right">@Description</p>
    </div>
</a>

@code {

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public string Url { get; set; } = string.Empty;
    
    [Parameter]
    public bool NewTab { get; set; }

    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}