<GridBoxBase Name="@Name" Description="@Description" Url="@Url" Icon="@Icons.Custom.Brands.GitHub">
    <div class="d-flex justify-content-between">
        <span style="color: skyblue">
            <MudIcon Icon="@Icons.Material.Rounded.Star"/> @Stars
        </span>
        <div class="d-flex">
            @foreach (var tag in TechTags)
            {
                <small class="technology-tag">@tag</small>
            }
        </div>
    </div>
</GridBoxBase>


@code {

    [Parameter]
    public int Stars { get; set; }

    [Parameter]
    public IList<string> TechTags { get; set; } = new List<string>();

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public string Url { get; set; } = string.Empty;

}